@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
	--bg-colour: #202124;
	--bg-dark-colour: #1A1A1D;
	--text-colour: #E8E8E9;
	--acent-colour: #50fa7b;
	--warning-colour: #672121;

	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
    background-color: var(--bg-colour);
	color: var(--text-colour);
	font-family: 'Poppins', sans-serif;
}

button{
	font-family: 'Poppins', sans-serif;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

a:visited {
	color: var(--text-colour);
}
a:link {
	color: var(--text-colour);
}

label {
	display: block;
}